h1 {
    color: green;
}

.fakeButton {
    border-radius: 15px;
    background-color: aquamarine;
    padding: 5px;
    font-size: 1.25em;
    text-align: center;
    margin: 10px;
    width: 30%;
}